<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					http://www.springframework.org/schema/beans/spring-beans.xsd 
					http://www.springframework.org/schema/context 
					http://www.springframework.org/schema/context/spring-context.xsd 
					http://www.springframework.org/schema/lang 
					http://www.springframework.org/schema/lang/spring-lang.xsd 
					http://www.springframework.org/schema/tx 
					http://www.springframework.org/schema/tx/spring-tx.xsd 
					http://www.springframework.org/schema/util 
					http://www.springframework.org/schema/util/spring-util.xsd">


	<context:annotation-config />
	<context:component-scan base-package="ru.mmk.scriptmanager.server.service" />
	<context:component-scan base-package="ru.mmk.scriptmanager.server.dao" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:jdbc.properties" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.databaseurl}"
		p:username="${jdbc.username}" p:password="${jdbc.password}" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">${jdbc.showsql}</prop>
			</props>
		</property>
	</bean>

	<!-- Marshaller -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter" />
				<ref bean="stringMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="objectMapper">
			<bean
				class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
				p:autoDetectFields="true" p:autoDetectGettersSetters="false"
				p:annotationIntrospector-ref="jaxbAnnotationIntrospector" />
		</property>
	</bean>

	<bean id="jaxbAnnotationIntrospector"
		class="com.fasterxml.jackson.module.jaxb.JaxbAnnotationIntrospector" />

	<bean id="stringMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes" value="text/html" />
	</bean>
	<!-- Marshallers end -->

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
</beans>